// Vendor JS Files
script(src='/js/bootstrap.bundle.js')
//- script(src='/assets/vendor/tinymce/tinymce.min.js')
// Template Main JS File
//- script(src='/assets/js/main.js')
// My Own JS File
script(src='/js/index.js')