// ======= Sidebar =======
aside#sidebar.sidebar
  ul#sidebar-nav.sidebar-nav
    li.nav-item
      a.nav-link.collapsed(href='/dashboard')
        i.bi.bi-grid
        span Dashboard
    // End Dashboard Nav

    if (local_user.role === 'admin')
      li.nav-item
        a.nav-link.collapsed(href='/manage-user')
          i.bi.bi-people
          span Manage Data User
      // End Manage Data User Nav

    li.nav-item
      a.nav-link.collapsed(data-bs-target='#charts-nav' data-bs-toggle='collapse' href='#')
        i.bi.bi-layout-text-window-reverse
        span Manage Dataset
        i.bi.bi-chevron-down.ms-auto
      ul#charts-nav.nav-content.collapse(data-bs-parent='#sidebar-nav')
        li
          a(href='/cuaca')
            i.bi.bi-circle
            span Cuaca
        li
          a(href='/kecelakaan')
            i.bi.bi-circle
            span Kecelakaan
        li
          a(href='/wisatawan')
            i.bi.bi-circle
            span Wisatawan
    // End Manage Dataset Nav
    li.nav-item
      a.nav-link.collapsed(href='/clustering')
        i.bi.bi-menu-button-wide
        span Clustering
    // End Clustering Nav
    li.nav-item
      a.nav-link.collapsed(href='/analisis')
        i.bi.bi-bar-chart
        span Analisis
    // End Analisis Nav
// End Sidebar
