doctype html
head
  meta(charset='utf-8')
  meta(content='width=device-width, initial-scale=1.0' name='viewport')
  title= title
  include _link

body
  include _header
  include _sidebar

  main#main.main
    .pagetitle
      h1= title
      nav
        ol.breadcrumb
          li.breadcrumb-item
            a(href='/') Home
          each crumb, index in bread_crumbs
            li.breadcrumb-item(class= `${index === bread_crumbs.length - 1 ? 'active' : ''}`)= crumb

    // End Page Title
    section.section
      block main

  // Scroll up
  a.back-to-top.d-flex.align-items-center.justify-content-center(href='#')
    i.bi.bi-arrow-up-short

  include _footer
  include _script
