extends base

block main
  .row
    .col-lg-6
      .card
        .card-body
          h5.card-title Example Card
          p
            | This is an examle page with no contrnt. You can use it as a starter for your
            | custom pages.
