.dashboard .cuaca-card .card-icon {
  color: #4154f1;
  background: #f6f6fe;
}

.dashboard .wisatawan-card .card-icon {
  color: #2eca6a;
  background: #e0f8e9;
}

.dashboard .kecelakaan-card .card-icon {
  color: #f03e3e;
  background: #fff5f5;
}

.rs-tooltip {
  min-width: 80px;
}
